.App {
  text-align: left;
  background: #e6d8ee;
}
.icon{
  height: 30px;
  cursor: pointer;
}
.App-top{
  height: 50px;
  background: #3d3835;
}
.App-header {
  background-color: #4286f4;
  height: 100px;
  padding: 20px;
  color: white;
  font-size: 70px;
  font-weight: bold;
}
  .App-header-welcomeuser{
    font-size: 20px;
    padding: 10px;
  }
.cooking-with{
  width: auto;
  box-shadow: 0px 0px 3px;
  height: auto;
  background: #66abeb;
}
  .cooking-with-title{
    font-size: 20px;
    color:white;
    margin-left: 10px;
  }
  .friend-block-container{
    width: auto;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    background: #09357a;
    border-color: #09357a;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px;
    border-style: solid;
  }
  .friend-block-container:hover{
    border-color: red;
  }
  .new-block-container{
    width: auto;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    background: #127a09;
    border-color: #127a09;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px;
    border-style: solid;
  }
    .friend-block{
      height: auto;
      text-align:center;
      color: white;
    }
    .new-block{
      height: auto;
      text-align:center;
      color: white;
    }
input:focus{
    outline: none;
}

.main-body{
  display: -webkit-flex;
  display: flex;
  min-height: 80vh;
  height: auto;
}
  .ingredient-console{
    width: 200px;
    box-shadow: 0px 0px 3px;
    height: auto;
    text-align:center;
  }
  .add-ingredient{
    display: inline-block;
    width: 80%;
    height: auto;
    margin: 5px;
    border: 2px solid #127a09;
    background-color: #127a09;
    color:white;
    border-radius: 5px;
    cursor: pointer
  }
  .remove-ingredient{
    display: inline-block;
    width: 80%;
    height: auto;
    margin: 5px;
    border: 4px solid #d14450;
    background-color: #d14450;
    color:white;
    border-radius: 5px;
    cursor: pointer
  }
  .remove-ingredient-clicked{
    display: inline-block;
    width: 80%;
    height: auto;
    margin: 5px;
    border: 4px solid #c20616;
    background-color: #d14450;
    color:white;
    border-radius: 5px;
    cursor: pointer
  }
  .update-ingredient{
    display: inline-block;
    width: 80%;
    height: auto;
    margin: 5px;
    border: 4px solid #3d8ed1;
    background-color: #3d8ed1;
    color:white;
    border-radius: 5px;
    cursor: pointer
  }
  .update-ingredient-clicked{
    display: inline-block;
    width: 80%;
    height: auto;
    margin: 5px;
    border: 4px solid #05345a;
    background-color: #3d8ed1;
    color:white;
    border-radius: 5px;
    cursor: pointer
  }


  .ingredients{
    width: 200px;
    box-shadow: 0px 0px 3px;
    height: auto;
    text-align:center;
  }
    .user-ingredients-list{
      min-height: 100px;
      height:auto;
      box-shadow: 0px 0px 3px;
    }
      .ingredient-block{
        display: inline-block;
        width: 80%;
        height: auto;
        margin: 5px;
        border: 2px solid #4286f4;
        background-color: #4286f4;
        border-radius: 5px;
        cursor: pointer
      }
        .ingredient-block-name{
          color: white;
          text-align: center;
        }

  .tier-container{
    margin: 10px;
    border: 1px solid #4286f4;
    box-shadow: 0px 0px 13px;
    border-radius: 5px;
  }
  .tier-name{
    width:100%;
    height: auto;
    font-size:50px;
  }
  .recipe{
    -webkit-flex: 1;
    flex: 1;
    box-shadow: 0px 0px 3px;
    text-align: center;
  }
    .recipe-block-container{
      display: inline-block;
      width: 300px;
      height: auto;
      margin: 5px;
      border: 2px solid #4286f4;
      border-radius: 5px;
    }
      .recipe-name{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4286f4;
        color:white;
        height: 40px;
        vertical-align: middle;
      }
      .recipe-tags{
        
        width: 100%;
        height: auto;
        background-color: white;
      }
        .tags-title{
          font-size:15px;
        }
        .tag{
          display: inline-block;
          background-color: #f0a855;
          padding:5px;
          margin:5px;
          font-size: 15px;
          width: auto;
          height:auto;
          border-top-right-radius: 15px ;
          border-bottom-right-radius: 15px ;
        }
      .recipe-pic-container{
        display: inline-block;
        overflow: hidden;
        position: relative;
      }
        .recipe-pic{
          display: block;
          cursor: pointer;
          width: auto;
          max-width: 100%;
          height: 300px;
        }
    
